body  {
    font-family: "Open Sans", sans-serif;
}
* {
    box-sizing: border-box;
}
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    position: relative;
}
@media (max-width : 600px) {
    .container {
        max-width: 97%;
    }
}

a {
    text-decoration: none;
    color: white;
}


/* start hero */
.headerone {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('/assets/img1.jpeg');
    background-size: cover;
    background-position: center;
}
.headerone::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
    z-index: 1;
}
.headerone .container {
    z-index: 2; /* Ensures the content is above the overlay */
    color: white; 
}
.headerone .container .navbar {
    width: 100%;
    height: 150px;
}
.headerone .container .navbar .navone {
    width: 100%;
    height: 60px;
    background-color: #005D79;
    border-radius: 0px 0px 30px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.75);
}
.headerone .container .navbar .navone .left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.headerone .container .navbar .navone .left .one , 
.headerone .container .navbar .navone .left .two {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 100%;
    gap: 10px;
}
.headerone .container .navbar .navone .right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.headerone .container .navbar .navtwo {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerone .container .navbar .navtwo .routes {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    gap: 30px;
}
.headerone .res {
    display: none;
}
.headerone .container .navbar .navtwo .routes > span a:hover {
    color: #00BDFF;
    cursor: pointer;
    transition: all 0.2s;
}
.headerone .container .navbar .navtwo .routes > span.active {
    color: #00BDFF;
}
.headerone .container .navbar .navtwo .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.headerone .container .navbar .navtwo .contact .contactnous{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 244px;
    height: 60px;
    border-radius: 30px;
    background-color: #005D79;
}
.headerone .container .navbar .navtwo .contact .contactnous:hover {
    cursor: pointer;
    background-color: #00BDFF;
    transition: all 0.2s ease-in;
}
#menuList {
    transition: 0.3s all ease-in;
}
@media (max-width : 980px) {
    .headerone .container .navbar .navone {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /* .headerone .container .navbar .navone .right {
        display: none;
    } */
}
@media (max-width : 940px) {
    .headerone .container .navbar .navtwo .routes {
        display: none
    }
    .headerone .container .navbar .navtwo .contact .contactnous{
        display: none;
    }
    .headerone .res {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: absolute;
        top: 120px;
        left: 0;
        background-color: #00BDFF;
        height: calc(100vh - 120px);
        width: 100%;
        z-index: 1000;
        overflow: hidden;
    }
    .headerone .res > div  {
        margin-top: 40px;
    }
    .headerone .res .contact .contactnous{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 244px;
        height: 60px;
        border-radius: 30px;
        background-color: #005D79;
    }
    
}
@media (max-width : 630px) {
    .headerone .container .navbar .navone {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-block: 5px;
        align-items: center;
    }
    .headerone .container .navbar .navone .left {
        gap: 10px;
    }
    .headerone .container .navbar .navone .left .one , 
    .headerone .container .navbar .navone .left .two {
        gap: 5px;
    }
    .headerone .container .navbar .navone .left .one span:last-child , 
    .headerone .container .navbar .navone .left .two span:last-child{
        font-size: 13px;
    }
    
}
.headerone .container .hero {
    height: calc(100vh - 150px);
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerone .container .hero > div {
    height: 100%;
}
.headerone .container .hero .left {
    width: 60%;
}
.headerone .container .hero .right {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerone .container .hero .st {
    font-size: 15px;
    font-weight: 600;
    color: #C5C5C5;
}
.headerone .container .hero .nd {
    font-size: 55px;
    font-weight: 800;
    padding-top: 25px;
}
.headerone .container .hero .rd {
    font-size: 18px;
    font-weight: 400;
    padding-top: 25px;
    color: #C5C5C5;
}
.headerone .container .hero .th {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    gap: 25px;
}
.headerone .container .hero .th .services , 
.headerone .container .hero .th .contact {
    height: 60px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-transform: uppercase;
}
.headerone .container .hero .th .services:hover ,
.headerone .container .hero .th .contact:hover {
    cursor: pointer;
    background-color: #00BDFF;
    transition: all 0.2s ease-in;
}
.headerone .container .hero .th .services {
    width: 207px;
    font-size: 15px;
    color: #005D79;
    background-color: white;
}
.headerone .container .hero .th .contact {
    width: 244px;
    font-size: 15px;
    color: white;
    background-color: #005D79;
}
@media (max-width : 940px) {
    .headerone .container .hero .right {
        display: none;
    }
    .headerone .container .hero .left {
        width: 100%;
    }
}
@media (max-width : 620px) {
    .headerone .container .hero .nd {
        font-size: 40px;
        font-weight: 800;
        padding-top: 20px;
    }
}
@media (max-width : 500px) {
    .headerone .container .hero .th {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        gap: 10px;
    }
    .headerone .container .hero .th .services , 
    .headerone .container .hero .th .contact {
        height: 48px;
        border-radius: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        text-transform: uppercase;
    }
    .headerone .container .hero .nd {
        font-size: 33px;
        font-weight: 800;
        padding-top: 10px;
    }
    .headerone .container .hero .rd {
        font-size: 18px;
        font-weight: 400;
        padding-top: 10px;
        color: #C5C5C5;
    }
}
/* hero end */



/* numbers start */
.numbers {
    background-color: #005D79;
    font-family: "Poppins", sans-serif;
}
.numbers .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 20px;
}
.numbers .container > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 33%;
    text-align: center;
}
.numbers .container > div .up {
    color: white;
    font-size: 45px;
    font-weight: 700;
}
.numbers .container > div .down {
    color: #C5C5C5;
    font-size: 18px; 
    font-weight: 400;
}
@media (max-width : 720px) {
    .numbers .container > div .up {
        color: white;
        font-size: 35px;
        font-weight: 700;
    }
    .numbers .container > div .down {
        color: #C5C5C5;
        font-size: 16px; 
        font-weight: 400;
    }
}
@media (max-width : 600px) {
    .numbers .container {
        padding-top: 50px;
        padding-bottom: 50px;
        gap: 10px;
    }
    .numbers .container > div {
        gap: 12px;
        width: 33.33%;
    }
    .numbers .container > div .up {
        color: white;
        font-size: 26px;
        font-weight: 600;
    }
    .numbers .container > div .down {
        color: #C5C5C5;
        font-size: 13px; 
        font-weight: 400;
    }
}
/* numbers end */


/* about start */
.about .container {
    padding-top: 70px;
    padding-bottom: 70px;
}
.about .container .upper {
    display: grid;
    grid-template-areas: "a b" "c b";
    gap: 20px;
}
.about .container .upper .one {
    grid-area: a;
    color: #707070;
    font-size: 15px;
    font-weight: 600;
    width: 50%;
}
.about .container .upper .two {
    grid-area: c;
    color: #005D79;
    font-size: 50px;
    font-weight: 800;
    width: 70%;
}
.about .container .upper .three {
    grid-area: b;
    display: flex;
    gap: 10px;
    justify-content: end;
    align-items: center;
}
.about .container .upper .three span {
    color: #707070;
    font-size: 15px;
    font-weight: 600;
}
.about .container .upper .three span:hover {
    cursor: pointer;
    color: #005D79;
    transition: all 0.2s;
}
@media (max-width : 810px) {
    .about .container .upper .two {
        grid-area: c;
        color: #005D79;
        font-size: 38px;
        font-weight: 800;
        width: 80%;
    }
}
@media (max-width : 620px) {
    .about .container .upper .two {
        grid-area: c;
        color: #005D79;
        font-size: 38px;
        font-weight: 800;
        width: 100%;
        text-align: center;
    }
    .about .container .upper {
        display: grid;
        grid-template-areas: "a b" "c c";
        gap: 20px;
    }
    .about .container .upper .one {
        width: 100%;
    }
}
@media (max-width : 445px) {
.about .container .upper .one {
    grid-area: a;
    color: #707070;
    font-size: 13px;
    font-weight: 500;
}
.about .container .upper .three {
    grid-area: b;
    gap: 4px;
}
.about .container .upper .three span {
    color: #707070;
    font-size: 13px;
    font-weight: 500;
}
}
.about .container .lower {
    position: relative;
}
.about .container .lower .talks {
    width: 417px;
    height: 276px;
    background-color: #005D79;
    border-radius: 30px;
    padding: 35px;
}
.about .container .lower .talks .caption {
    padding-top: 15px;
    width: 70%;
    font-size: 22px;
    font-weight: 600;
    font-style: italic;
    color: rgba(255, 255, 255, 0.75);
}
.about .container .lower .talks > div:last-child {
    padding-top: 15px;
    width: 70%;
    font-family: "Poppins";
    font-size: 25px;
    font-weight: 600;
    color: rgba(255, 255, 255);
}
.about .container .lower .scroll {
    position: absolute;
    width: 70%;
    height: 100%;
    right: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
    height: 276px;
}
.about .container .lower .scroll > div {
    width: 32%;
    border-radius: 30px;
    border: 10px solid #fff;
    overflow: hidden;
    height: 220px;
}
.about .container .lower .scroll > div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width : 980px) {
    .about .container .lower .talks .caption {
        width: 50%;
        font-size: 20px;
    }
    .about .container .lower .talks > div:last-child {
        width: 50%;
        font-size: 21px;
    }
}
@media (max-width : 850px) {
    .about .container .lower .talks .caption {
        width: 80%;
        font-size: 22px;
    }
    .about .container .lower .talks > div:last-child {
        width: 80%;
        font-size: 22px;
    }
    .about .container .lower .scroll {
        position: relative;
        width: 100%;
        right: 0;
        top: 0;
        display: flex;
        justify-content: flex-start; /* Align items to the start */
        gap: 2px;
        align-items: center;
        overflow-x: auto; /* Enable horizontal scrolling */
        overflow-y: hidden; /* Hide vertical overflow */
        scroll-snap-type: x mandatory; /* Optional: Snap scrolling */
    }
    
    .about .container .lower .scroll > div {
        min-width: 200px; /* Ensure each item has a minimum width */
        border-radius: 30px;
        border: 2px solid #fff;
        overflow: hidden;
        height: 220px;
        flex-shrink: 0; /* Prevent items from shrinking */
    }
    
}
@media (max-width : 520px) {
    .about .container .lower .talks {
        margin: auto;
        width: 340px;
        height: 245px;
        background-color: #005D79;
        border-radius: 30px;
        padding: 35px;
    }
}
/* about end */

/* history start */
.history {
    background-color: #005D79;
    padding-top: 70px;
    padding-bottom: 70px;
}
.history .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.history .container .left , 
.history .container .right {
    width: 47%;
    height: 680px;
    position: relative;
}
@media (max-width : 980px) {
    .history .container {
        flex-direction: column;
    }
    
    .history .container .left , 
    .history .container .right {
        width: 100%;
        height: 680px;
        position: relative;
    }
    
}
@media (max-width : 700px) {
    .history .container .left {
        height: 500px;
    }
    
}


.history .container .left > .one {
    height: 85%;
    width: 68%;
    border-radius: 30px;
    overflow: hidden;
}


.history .container .left > .two {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 73%;
    width: 66%;
    border-radius: 30px;
    overflow: hidden;
    border: white 10px solid;
}

.history .container .left > .three {
    position: absolute;
    left: 60px;
    bottom: 60px;
    height: 160px;
    width: 234px;
    border-radius: 30px;
    background-color: white;
    line-height: 100%;
    text-align: center;
}
.history .container .left > .three p:first-child {
    font-size: 40px;
    font-weight: 700;
    color: #005D79;
    font-family: "Poppins";
}
.history .container .left > .three p:last-child {
    font-size: 19px;
    font-weight: 400;
    color: #005D79;
    font-family: "Poppins";
}
.history .container .left > .one img , 
.history .container .left > .two img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-width : 600px) {
    .history .container .left {
        height: 400px;
    }
    .history .container .left > .one {
        height: 75%;
        width: 85%;
        border-radius: 30px;
        overflow: hidden;
    } 
    .history .container .left > .two {
        height: 65%;
        width: 70%;
    }
    .history .container .left > .three {
        left: 30px;
        bottom: 20px;
        height: 130px;
        width: 190px;
    }
    .history .container .left > .three p:first-child {
        font-size: 30px;
        font-weight: 600;
        color: #005D79;
        font-family: "Poppins";
    }
    .history .container .left > .three p:last-child {
        font-size: 16px;
        font-weight: 400;
    }
}
@media (max-width : 450px) {
    .history .container .left {
        height: 370px;
    }
    .history .container .left > .one {
        height: 75%;
        width: 93%;
        border-radius: 30px;
        overflow: hidden;
    } 
    .history .container .left > .two {
        height: 65%;
        width: 82%;
    }
    .history .container .left > .three {
        left: 5px;
        bottom: 10px;
        height: 130px;
        width: 190px;
    }
    
}
.history .container .right {
    padding-top: 60px; 
    padding-bottom:60px ;
}
.history .container .right .one {
    font-size: 15px;
    font-weight: 600;
    color: #C5C5C5;
}
.history .container .right .two {
    padding-top: -20px;
    font-size: 40px;
    font-weight: 700;
    color: white;
    font-family: "Poppins";
}
.history .container .right .three {
    padding-top: -20px;
    font-size: 17px;
    font-weight: 400;
    color: #F9F9F9;
}
.history .container .right .four , 
.history .container .right .five {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.history .container .right .four .lft , 
.history .container .right .five .lft {
    width: 10%;
}
.history .container .right .four .rght , 
.history .container .right .five .rght {
    width: 88%;
}
.history .container .right .four div > p:first-child ,
.history .container .right .five div > p:first-child{
    font-size: 19px;
    font-weight: 400;
    color: white;
}
.history .container .right .four div >p:last-child , 
.history .container .right .five div > p:last-child{
    font-size: 15px;
    font-weight: 400;
    color: #DADADA;
}

.history .container .right .six {
    width: 256px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #005D79;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 600;
    margin-top: 30px;
}
@media (max-width : 600px) {
    .history .container .right {
        padding-top: 40px; 
        padding-bottom:40px ;
    }
    .history .container .right .two {
        font-size: 32px;
    }
    .history .container .right .four div > p:first-child , 
    .history .container .right .five div > p:first-child{
    font-size: 17px;
}
}
/* the end */

/* start services */
.service {
    padding-top: 70px;
    padding-bottom: 70px;
}
.service .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.service .container .up {
    text-align: center;
}
.service .container .up .desc {
    font-size: 15px;
    font-weight: 600;
    color: #999999;
}
.service .container .up .title {
    font-size: 40px;
    font-weight: 700;
    color: #707070;
}
@media (max-width : 480px) {
    .service .container .up .title {
        font-size: 32px;
    }
}
.service .container .main {
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; */
    display: grid;
    /* height: 400px; */
    width: 100%;
    grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
    gap: 20px;

}
.service .container .main .card{
    height: 400px;
    border-radius: 30px;
    background-color: #F9F9F9;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: 0.3s all ease-in-out;
}

.service .container .main .card .icon , 
.service .container .main .card .desc , 
.service .container .main .card .title , 
.service .container .main .card .button {
    text-align: center;
    transition: 0.3s all ease-in-out;
} 
.service .container .main .card .title {
    color: #707070;
    font-size: 22px;
    font-weight: 500;
    font-family: "Poppins";
}
.service .container .main .card .desc {
    color: #6E6E6E;
    font-size: 15px;
    font-weight: 400;
}
.service .container .main .card .button {
    width : 250px;
    height: 60px;
    border-radius: 30px;
    background-color: #005D79;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service .container .main .card:hover {
    background-color: #005D79;
    transform: scaleY(0.95);
}
.service .container .main .card:hover .button {
    background-color: white;
    color: #005D79;
    cursor: pointer;
}
.service .container .main .card:hover .desc {
    color: rgba(255, 255, 255, 0.75);
}
.service .container .main .card:hover .title {
    color: rgba(255, 255, 255);
}

.service .container .down {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}
.service .container .down > span span:first-child{
    display: inline-block;
    margin-right: 5px;
    color: #707070;
    font-weight: 600;
    font-size: 15px;
}
.service .container .down > span span:last-child{
    display: inline-block;
    margin-left: 5px;
    color: #005D79;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}
/* the end of services */



/* start the whyus */
.whyus {
    background-color: #005D79;
}
.whyus .container {
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.whyus .container .left{
    width: 64%;
}
.whyus .container .left .up {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.whyus .container .left .up .small {
    font-size: 15px;
    font-weight: 600;
    color: #C5C5C5;
}
.whyus .container .left .up .big {
    font-size: 40px;
    font-weight: 700;
    color: white;
    font-family: "Poppins";
}
.whyus .container .left .down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}
.whyus .container .left .down .downlft {
    width: 330px;
    height: 280px;
    border: 10px white solid;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}
.whyus .container .left .down .downlft img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.whyus .container .left .down .downlft > div {
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    position: absolute;
}
.whyus .container .left .down .downrght {
    width: 310px;
}
.whyus .container .left .down .downrght > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.whyus .container .left .down .downrght > div .lft {
    width: 10%;
}
.whyus .container .left .down .downrght > div .rght {
    width: 88%;
}
.whyus .container .left .down .downrght > div div > p:first-child {
    font-size: 19px;
    font-weight: 400;
    color: white;
}
.whyus .container .left .down .downrght > div div >p:last-child {
    font-size: 15px;
    font-weight: 400;
    color: #DADADA;
}
.whyus .container .right{
    width: 31%;
    padding: 38px;
    border-radius: 30px;
    background-color: #DADADA;

}
.whyus .container .right .talks {
    font-size: 22px;
    font-weight: 600;
    font-style: italic;
    color: #005D79;
    margin-top: 10px;
    margin-bottom: 20px;
}
.whyus .container .right .desc {
    font-size: 18px;
    font-weight: 400;
    color: #6E6E6E;
    margin-bottom: 20px;
    line-height: 29px;
}
.whyus .container .right .features {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 15px;
}
.whyus .container .right .features > div{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;
}
.whyus .container .right .features > div span:last-child {
    font-size: 18px;
    font-weight: 400;
    color: #6E6E6E ;
}
@media (max-width : 980px) {
    .whyus .container {
        flex-direction: column;
        gap: 30px;
    }
    .whyus .container .left{
        width: 100%;
    }
    .whyus .container .right{
        width: 400px;
        height: 510px;
        padding: 38px;
        border-radius: 30px;
        background-color: #DADADA;
    
    }
}
@media (max-width : 600px) {
    .whyus .container .left .down {
        flex-direction: column;
    }
    .whyus .container .left .up .big {
        font-size: 34px;
        font-weight: 700;
        color: white;
        font-family: "Poppins";
        text-align: center;
    }
}
@media (max-width : 470px) {
    .whyus .container .left .down {
        flex-direction: column;
    }
    .whyus .container .right{
        width: 95%;
        height: 500px;
        padding: 38px;
        border-radius: 30px;
        margin: auto;
        background-color: #DADADA;
    
    }
    .whyus .container .right .talks {
        font-size: 20px;
        font-weight: 600;
        font-style: italic;
        color: #005D79;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .whyus .container .right .desc {
        font-size: 16px;
        font-weight: 400;
        color: #6E6E6E;
        margin-bottom: 10px;
    }
    .whyus .container .right .features {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        gap: 8px;
    }
    .whyus .container .right .features > div span:last-child {
        font-size: 16px;
        font-weight: 400;
        color: #6E6E6E ;
    }
}
/* the end of why us */


/* OUR WORK */
/* START OUR WORK */
.ourwork {
    background-color: #005D79;
}
.ourwork .container {
    padding-top: 70px;
    padding-bottom: 70px;
}
.ourwork .container .upper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.ourwork .container .upper > div:first-child {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.75);
}
.ourwork .container .upper > div:last-child {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: rgba(255, 255, 255);
    font-family: "Poppins";
}
.ourwork .container .down {
    display: grid;
    grid-template-areas: "a a a a a a b b b c c c" "d d d d e e e e f f f f";
    gap: 20px;
    margin-top: 40px;
}
@media (max-width : 1020px) {
    .ourwork .container .down {
        display: grid;
        grid-template-areas: "a a a a b b " "c c c d d d" "e e e f f f";
        gap: 20px;
        margin-top: 40px;
    } 
}
@media (max-width : 900px) {
    .ourwork .container .down {
        display: grid;
        grid-template-areas: "a a a a" "b b c c" "d d e e" "f f . .";
        gap: 20px;
        margin-top: 40px;
    } 
}
@media (max-width : 570px) {
    .ourwork .container .down {
        display: grid;
        grid-template-areas: "a a" "b b" "c c" "d d" "e e" "f f";
        gap: 20px;
        margin-top: 40px;
    } 
}
.ourwork .container .down .one {
    grid-area: a;
}
.ourwork .container .down .two {
    grid-area: b;
}
.ourwork .container .down .three {
    grid-area: c;
}
.ourwork .container .down .four {
    grid-area: d;
}
.ourwork .container .down .five {
    grid-area: e;
}
.ourwork .container .down .six {
    grid-area: f;
}
.ourwork .container .down > div {
    height: 300px;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
}
.ourwork .container .down > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ourwork .container .down > div > div {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    right: 0;
    top: 0;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 4%, rgba(0,0,0,0.5048144257703081) 83%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: end;
    align-items: start;
    padding: 35px;
    opacity: 0;
    transition: 0.3s ease-in all;
}
.ourwork .container .down > div > div > div {
    width: 100%;
}
.ourwork .container .down > div > div > .tit {
    font-size: 27px;
    font-weight: 600;
    font-family: "Poppins";
    color: #fff;
}
.ourwork .container .down > div > div > .desc {
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.75);
}

.ourwork .container .down > div:hover > div {
    opacity: 1;
}

.ourwork .container .downer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}
.ourwork .container .downer > span span:first-child{
    display: inline-block;
    margin-right: 5px;
    color: rgba(255, 255, 255, 0.75);
    font-weight: 600;
    font-size: 15px;
}
.ourwork .container .downer > span span:last-child{
    display: inline-block;
    margin-left: 5px;
    color: #00BDFF;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}
/* THE END */


/* OUR CLIENTS */
/* THE START */
.nosclients {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #F9F9F9;
}

.nosclients .container {
    position: relative;
}

.nosclients .container .upper {
    display: grid;
    grid-template-areas: "a b" "c b";
    gap: 20px;
}
.nosclients .container .upper .one {
    grid-area: a;
    color: #707070;
    font-size: 15px;
    font-weight: 600;
    width: 50%;
}
.nosclients .container .upper .two {
    grid-area: c;
    color: #005D79;
    font-size: 50px;
    font-weight: 800;
    width: 70%;
}
.nosclients .container .upper .three {
    grid-area: b;
    display: flex;
    gap: 10px;
    justify-content: end;
    align-items: center;
}
.nosclients .container .upper .three span {
    color: #707070;
    font-size: 15px;
    font-weight: 600;
}
.nosclients .container .upper .three span:hover {
    cursor: pointer;
    color: #005D79;
    transition: all 0.2s;
}
@media (max-width : 810px) {
    .nosclients .container .upper .two {
        grid-area: c;
        color: #005D79;
        font-size: 38px;
        font-weight: 800;
        width: 80%;
    }
}
@media (max-width : 620px) {
    .nosclients .container .upper .two {
        grid-area: c;
        color: #005D79;
        font-size: 38px;
        font-weight: 800;
        width: 100%;
        text-align: center;
    }
    .nosclients .container .upper {
        display: grid;
        grid-template-areas: "a b" "c c";
        gap: 20px;
    }
    .nosclients .container .upper .one {
        width: 100%;
    }
}
@media (max-width : 445px) {
.nosclients .container .upper .one {
    grid-area: a;
    color: #707070;
    font-size: 13px;
    font-weight: 500;
}
.nosclients .container .upper .three {
    grid-area: b;
    gap: 4px;
}
.nosclients .container .upper .three span {
    color: #707070;
    font-size: 13px;
    font-weight: 500;
}
}
.nosclients .container .lower {
    position: relative;
    margin-top: 40px;
}
.nosclients .container .lower .left {
    width: 417px;
    height: 276px;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
}
.nosclients .container .lower .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nosclients .container .lower .left > div {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 10;
    padding-top: 93px;
    padding-left: 88px;
}
.nosclients .container .lower .right {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 255px;
    top: 10px;
    right: 0px;
    width: 820px;
    z-index: 999;
}
.nosclients .container .lower .right > div {
    width: 380px;
    height: 255px;
    border-radius: 30px;
    padding: 25px;
    background-color: white;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.07);
}
.nosclients .container .lower .right > div .talk {
    font-size: 20px;
    color: #6E6E6E;
    font-weight: 600;
    font-style: italic;
    margin-top: 15px;
}
.nosclients .container .lower .right > div .profil {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-top: 15px;
}
.nosclients .container .lower .right > div .profil .img {
    width: 65px;
    height: 65px;
    border-radius: 30px;
    overflow: hidden;
}
.nosclients .container .lower .right > div .profil .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nosclients .container .lower .right > div .profil > div:last-child {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.nosclients .container .lower .right > div .profil > div:last-child > div:first-child {
    font-size: 20px;
    font-weight: 400;
    color: #707070;
    font-family: "Poppins";
}
.nosclients .container .lower .right > div .profil > div:last-child > div:last-child {
    font-size: 15px;
    font-weight: 600;
    color:#C5C5C5;
}
@media (max-width : 1020px) {
    .nosclients .container .lower .right{
        position: relative;
        width: 100%;
        height: 100%;
        right: 0;
        top: 0;
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center; /* Align items to the start */
    
        gap: 18px;
       
    }
    .nosclients .container .lower .scroll > div {
        width: 320px;
        border-radius: 30px;
        border: 2px solid #fff;
        overflow: hidden;
        margin: auto;
        height: 220px;
        flex-shrink: 0; /* Prevent items from shrinking */
    }
    .nosclients .container .lower .right > div {
        /* width: 380px; */
        height: 255px;
        border-radius: 30px;
        padding: 25px;
        background-color: white;
        box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.07);
    }
}
@media (max-width : 700px) {
    .nosclients .container .lower .left {
        margin: auto;
        width: 417px;
        height: 276px;
        border-radius: 30px;
        overflow: hidden;
        position: relative;
    }
}
@media (max-width : 500px) {
    .nosclients .container .lower .left {
        width: 320px;
        height: 230px;
        border-radius: 30px;
        overflow: hidden;
        position: relative;
    }
    .nosclients .container .lower .right > div .talk {
        font-size: 16px;
        color: #6E6E6E;
        font-weight: 600;
        font-style: italic;
        margin-top: 10px;
    }
    .nosclients .container .lower .right > div .profil > div:last-child > div:first-child {
        font-size: 16px;
        font-weight: 400;
        color: #707070;
        font-family: "Poppins";
    }
    .nosclients .container .lower .right > div .profil > div:last-child > div:last-child {
        font-size: 12px;
        font-weight: 600;
        color:#C5C5C5;
    }
}
/* THE END */



/* THE CONTACT SECTION */
/* THE START */
.contacts {
    padding-top: 70px;
    padding-bottom: 70px;
}
.contacts .container {
    position: relative;
    background-image: url('/assets/history2.jpeg');
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    overflow: hidden;
    padding: 90px 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.contacts .container .title {
    color: white;
    font-family: "Poppins";
    font-size: 52px;
    font-weight: 800;
    width: 80%;
    text-align: center;
}
.contacts .container .desc {
    color: rgba(255, 255, 255, 0.75);
    font-size: 18px;
    font-weight: 400;
    width: 80%;
    text-align: center;
}
.contacts .container .button {
    color: rgba(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 244px;
    height: 60px;
    border-radius: 30px;
    cursor: pointer;
    background-color: #005D79;
    transition: 0.2s all ease-in;
}
.contacts .container .button:hover {
    background-color: #00BDFF;
}
@media (max-width : 600px) {
    .contacts .container .title {
        color: white;
        font-family: "Poppins";
        font-size: 40px;
        font-weight: 800;
        width: 90%;
        text-align: center;
    }
    .contacts .container {
        padding: 60px 30px;
    }
}
@media (max-width : 500px) {
    .contacts .container .title {
        color: white;
        font-family: "Poppins";
        font-size: 32px;
        font-weight: 800;
        width: 95%;
        text-align: center;
    }
    .contacts .container .desc {
        color: rgba(255, 255, 255, 0.75);
        font-size: 16px;
        font-weight: 400;
        width: 90%;
        text-align: center;
    }
    .contacts .container .button {
        color: rgba(255, 255, 255);
        font-size: 16px;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 50px;
        border-radius: 30px;
        cursor: pointer;
        background-color: #005D79;
        transition: 0.2s all ease-in;
    }
    .contacts .container {
        padding: 30px 15px;
    }
}
/* THE END */



/* THE FOOTER */
/* THE START */
footer {
    background-color: #005D79;
    padding-top: 70px;
}
footer .container .up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
footer .container .up .left {
    width: 31%;
    display: flex;
    flex-direction: column;
    gap: 20px;
} 
footer .container .up .left .desc {
    width: 84%;
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.75);
}
footer .container .up .left .social {
    display: flex;
    gap: 15px;
    align-items: center;
}
footer .container .up .right {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 65%;
}
@media (max-width : 980px) {
    footer .container .up .right {
        display: flex;
        justify-content: space-between;
        align-items: start;
        width: 68%;
    }
}
@media (max-width : 900px) {
    footer .container .up .right {
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-direction: column;
        width: 47%;
        gap: 35px;
    }
    footer .container .up .left {
        width: 47%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 20px;
    } 
    footer .container .up {
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin-bottom: 50px;
    }
}
@media (max-width : 500px) {
    footer .container .up {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 50px;
        gap: 40px;
    }
    footer .container .up .right {
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-direction: column;
        width: 90%;
        gap: 35px;
    }
    footer .container .up .left {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 20px;
        text-align: center;
    } 
    footer .container .up .left .logo {
        margin: auto;
    } 
    footer .container .up .left .desc {
        display: flex;
        width: 100%;
    } 
    footer .container .up .left .social {
        margin: auto;
    } 
}
footer .container .up .right > div {
    display: flex;
    flex-direction: column;
    gap: 22px;
}
footer .container .up .right > div .title {
    font-size: 22px;
    font-weight: 500;
    font-family: "Poppins";
    color: white;
}
footer .container .up .right > div .links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
footer .container .up .right > div .links > div {
    display: flex;
    align-items: center;
    gap: 12px;
}
footer .container .up .right > div .links > div > span:last-child {
    font-size: 18px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.75);
}
footer .container .down {
    padding: 30px 0px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color: white;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}
/* THE END */











